.container{
    /* background: #fff;
    display: flex;
    flex-direction: column;
    height: 300px; */
    height: 300px;
    width: 285px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    background-color: #fff;
}


.formStyle{
    width: 70%;
    margin-left: 15%;
    text-align: center;
    padding-top: 20px;
}
.loginButton{
    width: 60%;
}

